body{
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    height:100%;
    width: 100%;
    
 }
 
 #button:hover { 
    animation: effect 0.3s infinite; 
} 

@keyframes effect { 
    0% { 
        transform: translateX(0px) rotate(0deg); 
    } 

    20% { 
        transform: translateX(-4px) rotate(-4deg); 
    } 

    40% { 
        transform: translateX(-2px) rotate(-2deg); 
    } 

    60% { 
        transform: translateX(4px) rotate(4deg); 
    } 

    80% { 
        transform: translateX(2px) rotate(2deg); 
    } 

    100% { 
        transform: translateX(0px) rotate(0deg); 
    } 
} 
img:hover {
    border: 2px solid gold;
    border-radius: 30px;
    box-shadow: 0px 0px 20px gold;

}
 
 #checkers-board {
     display:flex;
     justify-content: center;
     align-items: center;
     height: 70%;
    
 }
 #top{
     text-align: center;
     margin-top: 16vh; 
     position:relative;
     margin-bottom: 2vh;
 }
 h1{
     color: gold;
     font-family: 'Permanent Marker', cursive;
     font-size: 50px;
 }
 
 #button{
     font-size: 17px;
     border: 2px solid black;
     width: 95px;
     align-content: center;
     cursor: pointer;
     background-color: rgb(226,161,83);
     border: 4px groove rgb(130,32,0);
     color: gold;
     font-family: 'Permanent Marker', cursive; 
     
 }
 
 #table {
     
     display: flex;
     border: 5px groove rgb(130,32,0);
     cursor:pointer;
     margin-left: 10px;
     margin-right: 75px;  
     flex-direction: column;  
 }
 .row{
     display: flex;
     flex-direction: row;
 }
 
 .o{
     background-color: rgb(226,161,83);
     width: 70px;
     height:70px;
 }
 .x {
     background-color: rgb(129,32,0);
     height:70px;
     width:70px;
     text-align: center;
     line-height: 110px;
     font-size: larger; 
     
 }
 #players-turn{
     display:flex;
     font-family: 'Permanent Marker', cursive;
     justify-content: center;
     align-content: center;
     text-decoration: underline;
     font-size: 30px;
     color: gold;
     height:10vh;
     margin-bottom: 20vh;;
 }
 #black {
     border: 3px solid rgba(255, 217, 0, 0);
     box-shadow:0px 0px 20px rgba(255, 217, 0, 0);
     border-radius: 30px;
 }
 #red {
     border: 3px solid rgba(255, 217, 0, 0);
     box-shadow:0px 0px 20px rgba(255, 217, 0, 0);
     border-radius: 30px;
 }
 #scoreboard{
     display: flex;
     color: blanchedalmond;
     align-content: center;
     flex-direction: column;
     border: 5px groove rgb(130,32,0);
     background-color: rgb(226,161,83); 
     height:115px;
 }
 #red-points{
     border: 3px solid black;
     padding: 0px;
     
 }
 #black-points{
     border: 3px solid black;
     padding: 0px;
     
 }
 .black-score{
     height: 62px;
     
    
 }
 .red-score{
     height: 62px;
 }

 